@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&family=Comfortaa:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  min-width: 320px;
  line-height: 1;
  font-size: 14px;
  font-family: "Comfortaa";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Comfortaa";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

.header {
  margin: 0 0 50px 0;
  padding: 50px 0 0 0;
}
@media (max-width: 460px) {
  .header {
    margin: 0 0 40px 0;
    padding: 35px 0 0 0;
  }
}
.header__row {
  position: relative;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 900px) {
  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__menu {
  margin: 0 auto;
}
@media (max-width: 820) {
  .header__menu {
    margin: 0 0 0 auto;
  }
}
.logo img {
  width: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}
.logo__name {
  font-family: "Alegreya Sans";
  font-size: 26px;
  font-weight: 300;
}
@media (max-width: 900px) {
  .logo__name {
    font-size: 14px;
  }
}
.logo__image {
  width: 72px;
}
@media (max-width: 900px) {
  .logo__image {
    width: 50px;
  }
}
@media (max-width: 900px) {
  .logo {
    position: static;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li {
  margin: 0 30px 0 0;
}
.menu__list li:last-child {
  margin: 0;
}
.link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #000;
}

.link:hover {
  text-decoration: underline;
  color: #646666;
}

@media (max-width: 768px) {
  .lock {
    overflow: hidden;
  }

  .header__menu {
    position: fixed;
    width: 100%;
    height: 110vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -110vh;
    padding: 50px 20px;
    right: 0;
    z-index: 3;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: auto;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, right top, color-stop(75%, #bab0f3), to(#7e6af5));
    background: linear-gradient(90deg, #bab0f3 75%, #7e6af5);
  }

  .header__menu.active {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list li a {
    font-size: 26px;
  }

  .menu__list li {
    margin-bottom: 15px;
  }

  .header__burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 28px;
    margin-right: 3px;
    z-index: 3;
  }

  .header__burger::after,
.header__burger::before {
    content: "";
    position: absolute;
    right: 0;
    width: 50px;
    height: 1px;
    background: #000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .header__burger::before {
    top: 0px;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    display: block;
    height: 1px;
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: #000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .header__burger.active::before {
    top: 18px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    height: 1px;
  }

  .header__burger.active::after {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    height: 1px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
}
@media (max-width: 370px) {
  .container {
    padding: 0px 5px;
  }
}

:root {
  --fontsize1: 5.14em;
  --fontsize2: 2.6em;
  --fontsize3: 2em;
  --fontsize4: 1.3em;
  --fontsizeTitle: 4em;
  --fontsizeSubTitle: 2em;
}

@media (max-width: 1100px) {
  :root {
    --fontsize1: 4.5em;
  }
}
@media (max-width: 890px) {
  :root {
    --fontsize1: 4em;
    --fontsizeTitle: 3em;
    --fontsizeSubTitle: 2em;
  }
}
@media (max-width: 870px) {
  :root {
    --fontsize1: 3.5em;
  }
}
@media (max-width: 720px) {
  :root {
    --fontsize1: 3em;
    --fontsize2: 2em;
    --fontsize3: 1.4em;
    --fontsizeTitle: 2.7em;
    --fontsizeSubTitle: 1.7em;
  }
}
@media (max-width: 592px) {
  :root {
    --fontsize1: 2.5em;
    --fontsize2: 2em;
    --fontsize3: 1.4em;
    --fontsizeTitle: 2.1em;
    --fontsizeSubTitle: 1.4em;
  }
}
@media (max-width: 500px) {
  :root {
    --fontsize1: 2em;
    --fontsize2: 1.5em;
    --fontsize3: 1.2em;
  }
}
@media (max-width: 460px) {
  :root {
    --fontsize1: 1.86em;
    --fontsizeTitle: 1.7em;
    --fontsize2: 1.5em;
    --fontsize3: 1.14em;
  }
}
@media (max-width: 370px) {
  :root {
    --fontsize1: 1.7em;
    --fontsize2: 1.4em;
    --fontsizeTitle: 1.6em;
    --fontsize4: 1.3em;
  }
}
@media (orientation: landscape) and (max-width: 1600px) {
  .main-screen {
    height: 100vh;
  }
}
@media (max-width: 420px) and (min-height: 668px) {
  .main-screen {
    height: 100vh;
  }
}
@media (max-width: 460px) {
  .main-screen {
    margin: 0 0 50px 0;
  }
}
.main-screen__title {
  margin: 0 0 0 -50px;
  max-width: 872px;
  font-size: var(--fontsize1);
  font-weight: 700;
  line-height: 1.1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.main-screen__title.active {
  margin: 0 0 0 0;
}
.main-screen__body {
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main-screen__offer {
  margin: 50px 50px 0 0;
}
@media (max-width: 630px) {
  .main-screen__offer {
    margin: 30px 30px 0 0;
  }
}
@media (max-width: 460px) {
  .main-screen__offer {
    margin: 30px 5px 0 0;
  }
}
.main-screen__image {
  margin: 0 0 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((575 / 1200) * 100%);
          flex: 0 0 calc((575 / 1200) * 100%);
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 0 0 65.85% 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.main-screen__image.active {
  margin: -40px 0 0 0;
}
@media (max-width: 602px) {
  .main-screen__image {
    margin: 0 0 0 0;
  }
  .main-screen__image.active {
    margin: -20px 0 0 0;
  }
}
@media (max-width: 370px) {
  .main-screen__image {
    margin: 0 -20px 0 0;
  }
  .main-screen__image.active {
    margin: -20px -20px 0 0;
  }
}

@media (max-width: 460px) {
  .container {
    padding: 0 10px;
  }
}
.button {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 460px) {
  .button:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.offer__text {
  font-family: "Alegreya Sans";
  font-size: var(--fontsize3);
  line-height: 1.1;
  max-width: 391px;
  text-align: left;
  margin: 0 50px 26px 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
@media (max-width: 460px) {
  .offer__text {
    margin: 0 0 15px 0;
  }
}
.offer__text.active {
  margin: 0 0 26px 0;
}
.offer__order-button {
  width: 264px;
  height: 72px;
  font-family: "Alegreya Sans";
  font-size: var(--fontsize2);
  line-height: 72px;
  text-align: center;
  color: #ffff;
  background: linear-gradient(274.13deg, #2f35c4 7.07%, rgba(47, 53, 196, 0.520833) 32.24%, rgba(47, 53, 196, 0.98) 85.26%, rgba(47, 53, 196, 0) 109.89%);
  border-radius: 10px;
  margin: 0 50px 30px 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
@media (max-width: 460px) {
  .offer__order-button {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 720px) {
  .offer__order-button {
    width: 250px;
    height: 60px;
    line-height: 60px;
  }
}
@media (max-width: 602px) {
  .offer__order-button {
    width: 200px;
    height: 50px;
    line-height: 50px;
  }
}
@media (max-width: 500px) {
  .offer__order-button {
    width: 160px;
    height: 40px;
    line-height: 40px;
  }
}
@media (max-width: 370px) {
  .offer__order-button {
    width: 130px;
    height: 40px;
    line-height: 40px;
  }
}
.offer__order-button.active {
  margin: 0 0 30px 0;
}
.offer__more-button {
  width: 201.92px;
  height: 52px;
  font-size: var(--fontsize3);
  line-height: 52px;
  text-align: center;
  color: #483b3b;
  background: #c4c4c4;
  border-radius: 15px;
  margin-right: 50px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
@media (max-width: 720px) {
  .offer__more-button {
    width: 200px;
    height: 50px;
    line-height: 50px;
  }
}
@media (max-width: 602px) {
  .offer__more-button {
    width: 140px;
    height: 40px;
    line-height: 40px;
  }
}
@media (max-width: 500px) {
  .offer__more-button {
    width: 130px;
    height: 40px;
    line-height: 40px;
  }
}
@media (max-width: 370px) {
  .offer__more-button {
    width: 110px;
    height: 30px;
    line-height: 30px;
  }
}
.offer .offer__more-button.active {
  margin-right: 0px;
}

.section-title {
  font-size: var(--fontsizeTitle);
  text-align: center;
  margin: 0 0 30px 0;
  font-weight: 700;
}

.section-subtitle {
  font-size: var(--fontsizeSubTitle);
  margin: 0 0 30px 0;
  font-weight: 700;
}

.text {
  font-size: var(--fontsize4);
  line-height: 1.1;
}

.about-product {
  padding: 200px 0 160px;
  color: #ffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-0.01%, rgba(126, 106, 245, 0)), color-stop(10.41%, #5136f9), color-stop(43.76%, #5136f9), color-stop(92%, #5136f9), to(rgba(81, 54, 249, 0)));
  background: linear-gradient(180deg, rgba(126, 106, 245, 0) -0.01%, #5136f9 10.41%, #5136f9 43.76%, #5136f9 92%, rgba(81, 54, 249, 0) 100%);
}
@media (max-width: 1200px) {
  .about-product {
    padding: 150px 0 130px;
  }
}
@media (max-width: 1024px) {
  .about-product {
    padding: 120px 0 130px;
  }
}
@media (max-width: 460px) {
  .about-product {
    padding: 130px 0 120px;
  }
}
.about-product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 880px) {
  .about-product__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 880px) {
  .about-product__item {
    margin: 0 0 60px 0;
  }
}

.item {
  max-width: 300px;
}
.item__title {
  text-align: center;
}
.item__icon {
  margin: 0 auto 50px;
  -webkit-filter: drop-shadow(0px 0px 5px #00000093);
          filter: drop-shadow(0px 0px 5px #00000093);
}
.item__icon_1 {
  width: 230px;
  height: 230px;
}
.item__icon_2 {
  width: 300px;
  height: 230px;
}
.item__icon_3 {
  width: 156px;
  height: 230px;
}
.item__label {
  padding: 32px 20px 20px;
  width: 300px;
  height: 250px;
  -webkit-transition: all 0.3s 0.1s;
  transition: all 0.3s 0.1s;
  -webkit-filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
}

.label {
  position: relative;
}
.label__text p {
  margin: 0 0 15px 0;
}
.label__text p:last-child {
  margin: 0 0 0 0;
}

.label::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(122, 248, 215, 0.25);
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.best-sides__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 650px) {
  .best-sides__body {
    height: 400px;
  }
}
.best-sides__bg-image {
  -webkit-box-flex: 0 0 51.85%;
  -ms-flex: 0 0 51.85%;
  flex: 0 0 51.85%;
  padding: 0 0 51.8% 0;
  z-index: -1;
}
@media (max-width: 830px) {
  .best-sides__bg-image {
    opacity: 0.5;
  }
}
@media (max-width: 650px) {
  .best-sides__bg-image {
    position: absolute;
    top: 5%;
    left: 0;
    width: 98%;
    height: 90%;
  }
}
.best-sides__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 -200px;
}
@media (max-width: 830px) {
  .best-sides__items {
    margin: 0 0 0 -300px;
  }
}
@media (max-width: 710px) {
  .best-sides__items {
    margin: 0 0 0 -300px;
  }
}
@media (max-width: 650px) {
  .best-sides__items {
    margin: 0 0 0 0;
  }
}
@media (max-width: 510px) {
  .best-sides__items {
    margin: 0 0 0 0;
  }
}

.items__point {
  background: #7bb4ff65;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 662px;
  height: 130px;
}
@media (max-width: 830px) {
  .items__point {
    padding: 11px;
  }
}
@media (max-width: 710px) {
  .items__point {
    padding: 7px;
  }
}
@media (max-width: 510px) {
  .items__point {
    padding: 0px 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 830px) {
  .items__point {
    background: #7bb4ff9a;
    height: 112px;
  }
}
@media (max-width: 710px) {
  .items__point {
    background: #7bb0ffd7;
    height: 100px;
  }
}
.items__icon {
  width: 98px;
  height: 98px;
}
@media (max-width: 830px) {
  .items__icon {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 710px) {
  .items__icon {
    width: 86px;
    height: 86px;
  }
}
@media (max-width: 510px) {
  .items__icon {
    width: 60px;
    height: 60px;
  }
}
.items__text {
  -webkit-box-flex: 1 1 75%;
  -ms-flex: 1 1 75%;
  flex: 1 1 75%;
  padding: 5px 0 0 30px;
}
@media (max-width: 510px) {
  .items__text {
    padding: 0px 0 0 15px;
  }
}
@media (max-width: 375px) {
  .items__text {
    padding: 0px 0 0 10px;
  }
}
.items__subtitle {
  margin: 0 0 0px 0;
}
@media (max-width: 375px) {
  .items__subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 560px) {
  .items__description {
    font-size: 1em;
  }
}

.compare {
  padding: 160px 0 160px;
  color: #ffff;
  padding: 160px 0px 160px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-0.01%, rgba(81, 54, 249, 0)), color-stop(10.41%, #5136f9), color-stop(43.76%, #5136f9), color-stop(92%, #5136f9), to(rgba(81, 54, 249, 0)));
  background: linear-gradient(180deg, rgba(81, 54, 249, 0) -0.01%, #5136f9 10.41%, #5136f9 43.76%, #5136f9 92%, rgba(81, 54, 249, 0) 100%);
}
@media (max-width: 1024px) {
  .compare {
    padding: 120px 0 130px;
  }
}
@media (max-width: 460px) {
  .compare {
    padding: 130px 0 120px;
  }
}
.compare__description {
  max-width: 839px;
  text-align: center;
  margin: 0 auto 50px;
}
@media (max-width: 380px) {
  .compare__description {
    font-size: 1.2em;
  }
}
@media (max-width: 370px) {
  .compare__description {
    font-size: 1em;
  }
}
.compare__body {
  max-width: 839px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .compare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 380px) {
  .compare__body {
    font-size: 1.2em;
  }
}
@media (max-width: 370px) {
  .compare__body {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  .compare__table {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 768px) {
  .compare__table:last-child {
    margin: 0 0 0px 0;
  }
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 393px;
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 194, 121, 0.25)), color-stop(48.44%, rgba(122, 248, 215, 0.25)), to(rgba(17, 194, 121, 0.25)));
  background: linear-gradient(180deg, rgba(17, 194, 121, 0.25) 0%, rgba(122, 248, 215, 0.25) 48.44%, rgba(17, 194, 121, 0.25) 100%);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
@media (max-width: 376px) {
  .table {
    padding: 15px;
  }
}
@media (max-width: 340px) {
  .table {
    padding: 10px;
  }
}
.table__title {
  text-align: center;
  font-weight: 700;
  margin: 0 0 20px 0;
}
.table__list li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
  position: relative;
  margin: 0 0 25px 0;
  padding: 0 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 376px) {
  .table__list li {
    margin: 0 0 25px 0;
    padding: 0 0 0 35px;
  }
}
@media (max-width: 340px) {
  .table__list li {
    margin: 0 0 20px 0;
    padding: 0 0 0 30px;
  }
}
.table__list li::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 24px;
  height: 24px;
}
.table__plus-list li:last-child {
  margin: 0 0 50px 0;
}
.table__minus-list li:last-child {
  margin: 0 0 0 0;
}
.table__plus-list li::before {
  background: url(../img/icons/plus.svg) center center/contain no-repeat;
}
.table__minus-list li::before {
  background: url(../img/icons/minus.svg) center center/contain no-repeat;
}
.table__recomend {
  padding: 30px 0 0 0;
  text-align: center;
  margin: auto 0 8px 0;
}
.table__icon {
  height: 40px;
  margin: 0 auto;
}
.table__icon_1 {
  width: 40px;
}
.table__icon_2 {
  width: 158px;
}

.slide {
  margin: 0 0 100px 0;
}

.slideshow-container {
  width: 95%;
  position: relative;
  margin: auto;
  padding: 0px 0 48.9% 0;
  margin: 0 auto 100px;
}

.sildesRams {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.mySlides {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #000;
}

.reviews {
  position: absolute;
  bottom: -90px;
  left: 50%;
  max-width: 540px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}
.reviews P {
  font-weight: 700;
}
@media (max-width: 934px) {
  .reviews {
    font-size: 1.1em;
  }
}
@media (max-width: 610px) {
  .reviews {
    font-size: 1em;
  }
}
@media (max-width: 670px) {
  .reviews {
    width: 100%;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: 10%;
  padding: 0 0 12.5% 0;
  top: 50%;
  background-size: contain;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 4;
}

.prev {
  left: -40px;
  background-position: left;
}
@media (max-width: 1200px) {
  .prev {
    left: -35px;
  }
}
@media (max-width: 1000px) {
  .prev {
    left: -25px;
  }
}
@media (max-width: 600px) {
  .prev {
    left: -20px;
  }
}
@media (max-width: 461px) {
  .prev {
    left: -10px;
  }
}

.next {
  right: -40px;
  background-position: right;
}
@media (max-width: 1200px) {
  .next {
    right: -35px;
  }
}
@media (max-width: 1000px) {
  .next {
    right: -25px;
  }
}
@media (max-width: 600px) {
  .next {
    right: -20px;
  }
}
@media (max-width: 461px) {
  .next {
    right: -15px;
  }
}
@media (max-width: 360px) {
  .next {
    right: -10px;
  }
}

.prev:hover {
  left: -45px;
}
@media (max-width: 1200px) {
  .prev:hover {
    left: -38px;
  }
}
@media (max-width: 1000px) {
  .prev:hover {
    left: -30px;
  }
}
@media (max-width: 600px) {
  .prev:hover {
    left: -25px;
  }
}
@media (max-width: 461px) {
  .prev:hover {
    left: -18px;
  }
}
@media (max-width: 360px) {
  .prev:hover {
    left: -15px;
  }
}

.next:hover {
  right: -45px;
}
@media (max-width: 1200px) {
  .next:hover {
    right: -40px;
  }
}
@media (max-width: 1000px) {
  .next:hover {
    right: -30px;
  }
}
@media (max-width: 600px) {
  .next:hover {
    right: -25px;
  }
}
@media (max-width: 461px) {
  .next:hover {
    right: -18px;
  }
}
@media (max-width: 360px) {
  .next:hover {
    right: -15px;
  }
}

* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.customers {
  max-width: 540px;
  margin: 0 auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.customers__link {
  position: relative;
  color: #000;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.customers__link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 1px;
}
@media (max-width: 430px) {
  .customers__link {
    font-size: 1.1em;
  }
}
@media (max-width: 370px) {
  .customers__link {
    display: inline-block;
    text-align: center;
  }
}
@media (max-width: 370px) {
  .customers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.process__owner-words {
  margin: 0 0 70px 0;
}
.owner-words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.owner-words__text {
  max-width: 540px;
  text-align: center;
  margin: 0 50px 0 0;
}
@media (max-width: 934px) {
  .owner-words__text {
    font-size: 1.1em;
  }
}
@media (max-width: 768px) {
  .owner-words__text {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 610px) {
  .owner-words__text {
    font-size: 1em;
  }
}
@media (max-width: 670px) {
  .owner-words__text {
    width: 100%;
  }
}
.owner-words__image {
  -webkit-box-flex: 0 0 16%;
  -ms-flex: 0 0 16%;
  flex: 0 0 16%;
  padding: 0 0 15% 0;
}

.stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 100px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media (max-width: 720px) {
  .stages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.stages__item {
  width: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1072px) {
  .stages__item {
    width: 130px;
  }
}
@media (max-width: 768px) {
  .stages__item {
    width: 120px;
  }
}
@media (max-width: 720px) {
  .stages__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}
.stages__dot {
  margin: 17px 0 0 0;
  width: 15px;
  height: 15px;
  background: #c4c4c4;
  border-radius: 50%;
}
@media (max-width: 720px) {
  .stages__dot {
    margin: 0 0 0 17px;
  }
}

.item__point {
  width: 39%;
  padding: 0 0 39% 0;
  background: #5136f9;
  border-radius: 50%;
  margin: 0 0 15px 0;
}
@media (max-width: 720px) {
  .item__point {
    -webkit-box-flex: 0 0 16.7%;
    -ms-flex: 0 0 16.7%;
    flex: 0 0 16.7%;
    padding: 0 0 16.7% 0;
    margin: 10px 15px 10px 0;
  }
}
.item__text {
  -webkit-box-flex: 0 0 83.3%;
  -ms-flex: 0 0 83.3%;
  flex: 0 0 83.3%;
  text-align: center;
  margin: 0 0 0 0;
}
@media (max-width: 1072px) {
  .item__text {
    font-size: var(--fontsize4);
  }
}
@media (max-width: 720px) {
  .item__text {
    text-align: left;
    max-width: 720px;
  }
}

.price {
  padding: 100px 0 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(81, 54, 249, 0)), color-stop(10%, #5136f9), color-stop(43.76%, #5136f9), color-stop(90.6%, #5136f9), to(rgba(81, 54, 249, 0)));
  background: linear-gradient(180deg, rgba(81, 54, 249, 0) 0%, #5136f9 10%, #5136f9 43.76%, #5136f9 90.6%, rgba(81, 54, 249, 0) 100%);
  color: #ffff;
}
.price__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 880px) {
  .price__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.tariff-block {
  max-width: 300px;
  padding: 0 0 10px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 194, 121, 0.36)), color-stop(58.33%, rgba(122, 248, 215, 0.36)), to(rgba(17, 194, 121, 0.36)));
  background: linear-gradient(180deg, rgba(17, 194, 121, 0.36) 0%, rgba(122, 248, 215, 0.36) 58.33%, rgba(17, 194, 121, 0.36) 100%);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
@media (max-width: 880px) {
  .tariff-block {
    margin: 0 0 50px 0;
  }
}
.tariff-block__name {
  text-align: center;
  line-height: 60px;
  height: 60px;
  background: #00d49f;
  margin: 0 0 20px 0;
}
.tariff-block__conditions-list {
  margin: 0 0 40px 0;
}
.tariff-block__order-button {
  display: block;
  width: 160px;
  height: 53px;
  background: #c41adf;
  border-radius: 15px;
  text-align: center;
  font-size: var(--fontsize2);
  line-height: 53px;
  color: #ffff;
  margin: 0 auto;
}

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
}
.count__current {
  -webkit-box-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  height: 55px;
  font-size: 1.6em;
  line-height: 55px;
  text-align: center;
  background: #f1c528;
  border-radius: 15px 0px;
  font-weight: 700;
}
.count__promo {
  -webkit-box-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  line-height: 27.5px;
  text-align: center;
}

.conditions-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 1.14em;
  padding: 0 20px 0 50px;
  height: 26px;
  margin: 0 0 15px 0;
}

.conditions-list li:last-child {
  display: block;
}

.conditions-list li::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 15px;
  width: 27px;
  height: 25.51px;
  background: url(../img/icons/mark1.svg) center center/cover no-repeat;
  -webkit-filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.37));
          filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.37));
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__quiz {
  -webkit-box-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.links {
  max-width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.links__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 18px 0;
}
.links__icon {
  width: 71px;
  height: 71px;
  margin: 0 20px 0 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.links__icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.links__text {
  color: #000;
}

.callback-form {
  width: 280px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
.callback-form__input {
  display: block;
  width: 100%;
  height: 50px;
  background: #c4c4c4;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 15px 15px 15px 25px;
  margin: 0 0 25px 0;
}
.callback-form__input::-webkit-input-placeholder {
  font-size: var(--fontsize4);
}
.callback-form__input::-moz-placeholder {
  font-size: var(--fontsize4);
}
.callback-form__input:-ms-input-placeholder {
  font-size: var(--fontsize4);
}
.callback-form__input::-ms-input-placeholder {
  font-size: var(--fontsize4);
}
.callback-form__input::placeholder {
  font-size: var(--fontsize4);
}
.callback-form__input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.callback-form__input:focus::-moz-placeholder {
  opacity: 0;
}
.callback-form__input:focus:-ms-input-placeholder {
  opacity: 0;
}
.callback-form__input:focus::-ms-input-placeholder {
  opacity: 0;
}
.callback-form__input:focus::placeholder {
  opacity: 0;
}
.callback-form__submit-button {
  height: 50px;
  width: 220px;
  background: #e72cbe;
  border-radius: 15px;
  color: #ffff;
}

.err {
  -webkit-box-shadow: 0 0 15px #ec1919da;
          box-shadow: 0 0 15px #ec1919da;
}

.quiz {
  position: relative;
  max-width: 600px;
  height: 341px;
  background: rgba(65, 253, 84, 0.7);
  border-radius: 25px;
}
.quiz__title {
  padding: 28px 0 0 100px;
  margin: 0 0 23px 0;
}
.quiz-form {
  width: 100%;
  padding: 0px 0 40% 60px;
}
.quiz-form__block {
  position: absolute;
  width: 80%;
  height: 100%;
}
.quiz-form__question {
  margin: 0 0 10px 0;
}
.quiz-form__input-block {
  margin: 0 0 10px 0;
}
.quiz-form__checkbox {
  display: none;
}
.quiz-form__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.quiz-form__checkbox-label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffff;
  margin: 0 10px 0 0;
}
.quiz-form__checkbox-label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #47f00c;
  -webkit-transform: scale(0);
          transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.quiz-form__checkbox:checked + .quiz-form__checkbox-label:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}

.quiz-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.prev-quistion,
.next-quistion {
  cursor: pointer;
  position: absolute;
  bottom: 8%;
  -webkit-transition: 0.5s ease;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  background: #47f00c;
  z-index: 3;
}

.prev-quistion {
  padding: 8px 10px;
  width: 44px;
  height: 44px;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 50%;
  right: 250px;
}

.next-quistion {
  display: block;
  text-align: center;
  width: 152px;
  height: 44px;
  line-height: 44px;
  border-radius: 25px;
  right: 95px;
}

* .quiz-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}