@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Comfortaa:wght@400;700&display=swap");
@mixin flexbox() {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
}

@mixin flex($values) {
   -webkit-box-flex: $values;
   -moz-box-flex: $values;
   -webkit-flex: $values;
   -ms-flex: $values;
   flex: $values;
}

@mixin order($val) {
   -webkit-box-ordinal-group: $val;
   -moz-box-ordinal-group: $val;
   -ms-flex-order: $val;
   -webkit-order: $val;
   order: $val;
}

$fontfamily: "Comfortaa";

$minwidth: 320px;

@import "nullstyle.scss";

@import "_header.scss";

.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

.ibg img {
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}

.wrapper {
   overflow: hidden;
   min-height: 100%;
}

.container {
   max-width: 1230px;
   padding: 0px 15px;
   margin: 0 auto;
}

:root {
   --fontsize1: 5.14em;
   --fontsize2: 2.6em;
   --fontsize3: 2em;
   --fontsize4: 1.3em;
}

@media (max-width: 1100px) {
   :root {
      --fontsize1: 4.5em;
   }
}

@media (max-width: 890px) {
   :root {
      --fontsize1: 4em;
   }
}

@media (max-width: 870px) {
   :root {
      --fontsize1: 3.5em;
   }
}

@media (max-width: 780px) {
   :root {
      --fontsize1: 3em;
      --fontsize2: 2em;
      --fontsize3: 1.4em;
   }
}

@media (max-width: 500px) {
   :root {
      --fontsize1: 2em;
      --fontsize2: 1.5em;
      --fontsize3: 1.2em;
   }
}

//===================Main-screen

.main-screen {
   height: 100vh;

   &__container {
   }

   &__title {
      max-width: 872px;
      font-size: var(--fontsize1);
      line-height: 1.1;
   }

   &__body {
      overflow: visible;
      @include flexbox();
      justify-content: flex-end;
   }

   &__offer {
      margin: 50px 50px 0 0;
      @media (max-width: 630px) {
         margin: 30px 30px 0 0;
      }
   }

   &__image {
      margin: -40px 0 0 0;
      flex: 0 0 calc((575 / 1200) * 100%);
      padding: 0 0 65.85% 0;
      box-shadow: -5px -5px 25px #563cf8;
      border-radius: 25px 25px 0px 0px;
      @media (max-width: 602px) {
         margin: -20px 0 0 0;
      }
   }
}
.offer {
   @include flexbox();
   flex-direction: column;
   align-items: flex-end;
   &__text {
      font-family: "Alegreya Sans";
      font-size: var(--fontsize3);
      line-height: 1.1;
      max-width: 391px;
      text-align: left;
      margin: 0 0 26px 0;
   }

   &__order-buttom {
      width: 264px;
      height: 72px;
      font-family: "Alegreya Sans";
      font-size: var(--fontsize2);
      line-height: 72px;
      text-align: center;
      color: #ffff;
      background: linear-gradient(
         274.13deg,
         #2f35c4 7.07%,
         rgba(47, 53, 196, 0.520833) 32.24%,
         rgba(47, 53, 196, 0.98) 85.26%,
         rgba(47, 53, 196, 0) 109.89%
      );
      border-radius: 10px;
      margin: 0 0 30px 0;
      @media (max-width: 602px) {
         width: 200px;
         height: 50px;
         line-height: 50px;
      }
      @media (max-width: 602px) {
         width: 140px;
         height: 40px;
         line-height: 40px;
      }
   }
   &__more-buttom {
      width: 201.92px;
      height: 52px;
      font-size: var(--fontsize3);
      line-height: 52px;
      text-align: center;

      color: #483b3b;

      background: #c4c4c4;
      border-radius: 15px;
      @media (max-width: 602px) {
         width: 140px;
         height: 40px;
         line-height: 40px;
      }
   }
}
.buttom {
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
.buttom:hover {
   transform: scale(1.2);
}
.ibg {
}
