@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&family=Comfortaa:wght@400;700&display=swap");

@mixin flexbox() {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
}

@mixin flex($values) {
   -webkit-box-flex: $values;
   -moz-box-flex: $values;
   -webkit-flex: $values;
   -ms-flex: $values;
   flex: $values;
}

@mixin order($val) {
   -webkit-box-ordinal-group: $val;
   -moz-box-ordinal-group: $val;
   -ms-flex-order: $val;
   -webkit-order: $val;
   order: $val;
}

$fontfamily: "Comfortaa";

$minwidth: 320px;

@import "nullstyle.scss";

@import "_header.scss";

.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

.ibg img {
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}

.wrapper {
   overflow: hidden;
   min-height: 100%;
}

.container {
   max-width: 1230px;
   padding: 0px 15px;
   margin: 0 auto;
   @media (max-width: 370px) {
      padding: 0px 5px;
   }
}

:root {
   --fontsize1: 5.14em;
   --fontsize2: 2.6em;
   --fontsize3: 2em;
   --fontsize4: 1.3em;
   --fontsizeTitle: 4em;
   --fontsizeSubTitle: 2em;
}

@media (max-width: 1100px) {
   :root {
      --fontsize1: 4.5em;
   }
}

@media (max-width: 890px) {
   :root {
      --fontsize1: 4em;
      --fontsizeTitle: 3em;
      --fontsizeSubTitle: 2em;
   }
}

@media (max-width: 870px) {
   :root {
      --fontsize1: 3.5em;
   }
}

@media (max-width: 720px) {
   :root {
      --fontsize1: 3em;
      --fontsize2: 2em;
      --fontsize3: 1.4em;
      --fontsizeTitle: 2.7em;
      --fontsizeSubTitle: 1.7em;
   }
}
@media (max-width: 592px) {
   :root {
      --fontsize1: 2.5em;
      --fontsize2: 2em;
      --fontsize3: 1.4em;
      --fontsizeTitle: 2.1em;
      --fontsizeSubTitle: 1.4em;
   }
}

@media (max-width: 500px) {
   :root {
      --fontsize1: 2em;
      --fontsize2: 1.5em;
      --fontsize3: 1.2em;
   }
}

@media (max-width: 460px) {
   :root {
      --fontsize1: 1.86em;
      --fontsize2: 1.5em;
      --fontsize3: 1.14em;
   }
}

@media (max-width: 370px) {
   :root {
      --fontsize1: 1.7em;
      --fontsize2: 1.4em;
      --fontsizeTitle: 1.6em;
      --fontsizeSubTitle: 1.45em;
      --fontsize4: 1.3em;
   }
}

//===================Main-screen

.main-screen {
   @media (orientation: landscape) and (max-width: 1600px) {
      height: 100vh;
   }

   &__title {
      max-width: 872px;
      font-size: var(--fontsize1);
      font-weight: 700;
      line-height: 1.1;
      animation: moveleft 1s;
   }

   &__body {
      overflow: visible;
      @include flexbox();
      justify-content: flex-end;
   }

   &__offer {
      margin: 50px 50px 0 0;

      @media (max-width: 630px) {
         margin: 30px 30px 0 0;
      }
      @media (max-width: 460px) {
         margin: 10px 5px 0 0;
      }
   }

   &__image {
      margin: -40px 0 0 0;
      flex: 0 0 calc((575 / 1200) * 100%);
      padding: 0 0 65.85% 0;
      animation: moverigth 1s;
      @media (max-width: 602px) {
         margin: -20px 0 0 0;
      }
      @media (max-width: 370px) {
         margin: -20px -20px 0 0;
      }
   }
}
.offer {
   @include flexbox();
   flex-direction: column;
   align-items: flex-end;
   &__text {
      font-family: "Alegreya Sans";
      font-size: var(--fontsize3);
      line-height: 1.1;
      max-width: 391px;
      text-align: left;
      margin: 0 0 26px 0;
      animation: moveleft 1s 0.2s;
      @media (max-width: 460px) {
         margin: 0 0 15px 0;
      }
   }

   &__order-buttom {
      width: 264px;
      height: 72px;
      font-family: "Alegreya Sans";
      font-size: var(--fontsize2);
      line-height: 72px;
      text-align: center;
      color: #ffff;
      animation: moveleft 1s 0.4s;
      background: linear-gradient(
         274.13deg,
         #2f35c4 7.07%,
         rgba(47, 53, 196, 0.520833) 32.24%,
         rgba(47, 53, 196, 0.98) 85.26%,
         rgba(47, 53, 196, 0) 109.89%
      );
      border-radius: 10px;
      margin: 0 0 30px 0;
      @media (max-width: 460px) {
         margin: 0 0 20px 0;
      }
      @media (max-width: 720px) {
         width: 250px;
         height: 60px;
         line-height: 60px;
      }

      @media (max-width: 602px) {
         width: 200px;
         height: 50px;
         line-height: 50px;
      }

      @media (max-width: 500px) {
         width: 160px;
         height: 40px;
         line-height: 40px;
      }

      @media (max-width: 370px) {
         width: 130px;
         height: 40px;
         line-height: 40px;
      }
   }

   &__more-buttom {
      width: 201.92px;
      height: 52px;
      font-size: var(--fontsize3);
      line-height: 52px;
      text-align: center;

      color: #483b3b;

      background: #c4c4c4;
      border-radius: 15px;
      animation: moveleft 1s 0.6s;

      @media (max-width: 720px) {
         width: 200px;
         height: 50px;
         line-height: 50px;
      }
      @media (max-width: 602px) {
         width: 140px;
         height: 40px;
         line-height: 40px;
      }

      @media (max-width: 500px) {
         width: 130px;
         height: 30px;
         line-height: 30px;
      }

      @media (max-width: 370px) {
         width: 110px;
         height: 30px;
         line-height: 30px;
      }
   }
}

.buttom {
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
.buttom:hover {
   transform: scale(1.2);
   @media (max-width: 460px) {
      transform: scale(1.05);
   }
}
@keyframes moverigth {
   0% {
      transform: (translate(50px));
   }
   100% {
      transform: (translate(0));
   }
}
@-webkit-keyframes moverigth {
   0% {
      transform: (translate(50px));
   }
   100% {
      transform: (translate(0));
   }
}

@keyframes moveleft {
   0% {
      transform: (translate(-50px));
   }
   100% {
      transform: (translate(0));
   }
}

@-webkit-keyframes moveleft {
   0% {
      transform: (translate(-50px));
   }
   100% {
      transform: (translate(0));
   }
}
//===========================about-product

.section-title {
   font-size: var(--fontsizeTitle);
   text-align: center;
   margin: 0 0 30px 0;
   font-weight: 700;
}
.section-subtitle {
   font-size: var(--fontsizeSubTitle);
   margin: 0 0 30px 0;
   font-weight: 700;
}
.text {
   font-size: var(--fontsize4);
   line-height: 1.1;
}

.about-product {
   padding: 160px 0;
   color: #ffff;
   @media (max-width: 880px) {
      padding: 100px 0;
   }
   background: linear-gradient(
      180deg,
      rgba(126, 106, 245, 0) -0.01%,
      #5136f9 10.41%,
      #5136f9 43.76%,
      #5136f9 77.6%,
      rgba(81, 54, 249, 0) 94.78%
   );

   &__body {
      @include flexbox();
      justify-content: space-between;
      margin: 0 0 160px 0;
      transform: translate(-80px);
      transition: all 0.3s ease;
      @media (max-width: 880px) {
         flex-direction: column;
         align-items: center;
      }
   }

   &__body.active {
      transform: none;
   }

   &__title {
   }

   &__item {
      @media (max-width: 880px) {
         margin: 0 0 60px 0;
      }
   }
}

.item {
   max-width: 300px;

   &__title {
      text-align: center;
   }

   &__icon {
      margin: 0 auto 50px;
      filter: drop-shadow(0px 0px 5px #00000093);
      &_1 {
         width: 230px;
         height: 230px;
      }
      &_2 {
         width: 300px;
         height: 230px;
      }
      &_3 {
         width: 156px;
         height: 230px;
      }
   }

   &__label {
      padding: 32px 20px 20px;
      width: 300px;
      height: 250px;
      transform: rotate(10deg);
      transition: all 0.3s 0.1s;
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
   }
   &__label.active {
      transform: none;
   }
}

.label {
   position: relative;
   &__text p {
      margin: 0 0 15px 0;
   }
   &__text p:last-child {
      margin: 0 0 0 0;
   }
}

.label::before {
   content: "";
   position: absolute;
   top: -25px;
   left: 50%;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: rgba(122, 248, 215, 0.25);
   transform: translate(-50%);
}
